
<div class="container color-dark">
<div class="col">
  <p> New Quest </p>
</div>
<div class="col">
  <p>   Quest Log ({{ itemCount }})</p>
</div>
</div>
<div class="container color-light" [@quests]="quests.length">
  <div class="col">
    <p class="sm">Insert your quest here.</p>
<form>
  <input type="text" class="txt" name="item" placeholder="Your quest" autocomplete=off [(ngModel)]='questText'>
  <input type="submit" class="btn1 supernorton" [value]="btnText" (click)="addQuest()">
  <input type="submit" class="btn2" value="Delete Last Quest" (click)="deleteQuest()">
</form>
</div>
<div class="col">
  <p class="quest-container" *ngFor="let variable of quests; let i = index" (click)="removeQuest(i)">
    {{ variable }}
  </p>
</div>
</div>


